body{
	font-size: 16px;
	font-family: 'poppins', sans-serif;
    color: #000;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*header*/

@media (min-width: 1200px)
{
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1170px;
}
}

section.navi {
    position: absolute;
    width: 100%;
    z-index: 999999;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: transparent !important;
    height: 100px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 400;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #ff3249;
}
ul.navbar-nav.mr-auto {
    margin-left: 15px;
}
ui.social-icon {
    display: flex;
}
.social-icon li {
    list-style-type: none;
    font-size: 18px;
}
.social-icon a {
    padding: 0 10px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.social-icon a:hover {
    color: #ff3249;
    transition: all 0.2s ease-in-out;
}
button.cv-button {
    border: 2px solid #fff;
    background-color: transparent;
    padding: 6px 25px;
    border-radius: 60px;
    font-size: 14px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    margin-left: 10px;
}

button.cv-button:hover {
    border: 2px solid #ff3249;
    color: #fff;
    background-color: #ff3249;
}

.carousel-indicators li {
    width: 25px;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 10px;
}

.banner_content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 45%;
    animation: 1s fadeInFromTop;
}

p.short-h {
    color: #fff;
    letter-spacing: 3px;
    margin: 10px;
    font-size: 14px;
}
p.tagname {
    background: #000;
    display: inline-block;
    padding: 5px 20px;
    font-size: 14px;
    color: #fff;
}
h2.slide-h {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    margin-bottom: 15px;
    font-size: 46px;
}

/*end header*/

/*service*/

.section_gap {
    padding: 100px 0;
}

.main_title p {
    font-family: 'Kaushan Script', cursive;
    font-size: 16px;
    text-align: center;
    color: #ff3249;
    margin-bottom: 5px;
}
.port_title p {
    font-family: 'Kaushan Script', cursive;
    font-size: 16px;
    text-align: center;
    color: #ff3249;
    margin-bottom: 5px;
}
.about-title p {
    font-family: 'Kaushan Script', cursive;
    font-size: 16px;
    color: #ff3249;
    margin-bottom: 5px;
}

.main_title h1 {
    font-size: 30px;
    font-weight: 800;
}

.about-title h1 {
    font-size: 30px;
    font-weight: 800;
}

.port_title h1 {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
}

.row.service-feature {
    margin-top: 50px;
}

.feature-details {
    text-align: center;
    border: 1px solid #eeeeee;
    padding: 50px 20px 25px 20px;
}

.feature-details h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
.feature-details p {
    font-size: 13px;
    margin-bottom: 35px;
    color: #777;
    font-weight: 300;
    line-height: 22px;
}

.feature-thumb img {
    background: #f5f5f5;
    padding: 30px 20px;
}

.single-feature:hover {
    box-shadow: 0px 5px 40px #00000014;
}
/*service*/

/*portfolio*/

#portfolio {
    background-color: #000  ;
}

.row.port_inner {
    margin-top: 50px;
}

.port_img img {
    background: #fff;
    padding: 10px;
}


    .port_item .port_img .hover {
    position: absolute;
    bottom: -120px;
    margin-left: 10px;
    font-size: 13px;
    background: #fff;
    padding: 15px 25px 0px 10px;
        -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #777;
}
.port_img {
    position: relative;
    overflow: hidden;
}

.port_item:hover .port_img .hover {
    bottom: 5px;
}

h4.port-head {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 30px 0;
    color: #848484;
}

.portfolio-b button {
    background: #ff3249;
    border: 2px solid #ff3249;
    color: #fff;
    font-size: 14px;
    border-radius: 60px;
    height: 40px;
    width: 130px;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
}

.portfolio-b button:hover {
    color: #fff;
    background: none;
    border: 2px solid #fff;
}

.about-title {
    position: relative;
    background: #fff;
    padding: 30px 0px;
    min-width: 460px;
    margin-top: 70px;
    z-index: 5;
    margin-left: 80px;
}

.about-title span{
    color: #ff3249;
}

.about-title h3 {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    padding-right: 15px;
    margin-top: 10px;
}

.about-image {
    float: left;
}

p.abcont {
    font-family: poppins;
    font-size: 14px;
    color: #777;
    margin-top: 12px;
    padding-right: 50px;
}

section#details {
    background: #f5f5f5;
}

.col-lg-3.pd {
    background: #fff;
    max-width: 30%;
    flex: 0 0 30%;
    margin-left: 15px;
    margin-right: 15px;
}

.col-lg-9.ad {
    max-width: 65%;
    flex: 0 0 65%;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 15px;
}

.pd-img img {
    margin-top: 40px;
    border-radius: 100px;
}

.pd-img {
    text-align: center;
}

.pd-det{
    text-align: center;
}

.pd-det h2 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    margin-top: 20px;
}

.pd-det h3 {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
}

.pd-det span {
    color: #ff3249;
}

.pd-det hr {
    width: 90%;
}

.pd-button button {
    background: #ff3249;
    border: 2px solid #ff3249;
    color: #fff;
    font-size: 14px;
    border-radius: 60px;
    height: 40px;
    width: 130px;
    margin-top: 12px;
    margin-bottom: 12px;
    transition: all 0.3s ease-in-out;
}
.pd-button button:hover {
    background: none;
    border: 2px solid #000;
    color: #000;
}

.pd-det ul {
    list-style: none;
    text-align: left;
    padding: 0 0 0 25px;
    margin-bottom: 20px;
}
.pd-det li span {
    color: #000;
        margin-right: 12px;
    width: 20px;
    text-align: center;
}

.pd-list ul, li {
    display: flex;
}

.pd-lst p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 2px;
    color: #777;
    margin-bottom: 15px;
}
.pd-lst {
    margin-top: 30px;
}

.nav-item a {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    padding: 0 25px 0 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ff3249;
    background: none;
}
ul#pills-tab {
    margin-top: 40px;
    margin-left: 10px;
}

.skills h3 {
    font-size: 16px;
}

.col-lg-4.skills {
    text-align: center;
    padding-bottom: 30px;
}

.row.listds {
    margin: 60px 0px 50px 0px;
    justify-content: center;
}
.row.listd {
    margin: 60px 0px 50px 0px;
}
.skills h3 {
    font-size: 14px;
    font-weight: 300;
    color: #777;
    margin-top: 10px;
}

.col-lg-4.Exp {
    border: 1px solid #eeeeee;
    padding: 0;
    margin: 0 10px;
    max-width: 30.5%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.cols.Edu {
    border: 1px solid #eeeeee;
    padding: 0;
    margin: 0 10px;
    max-width: 30.5%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.exp-img img {
    width: 100%;
}

.exp-details ul {
    padding: 20px 0 0 5px;
    margin-bottom: 5px;
}
.exp-details li span {
    color: #777;
    font-size: 13px;
    margin-right: 2px;
    width: 20px;
    text-align: center;
}

.exp-details p {
    font-size: 13px;
    margin-top: 1px;
    color: #777;
    margin-bottom: 8px;
}

.exp-details h3 {
    font-size: 14px;
    margin-left: 5px;
    font-weight: 500;
}

p.role {
    font-size: 13px;
    margin-left: 5px;
}

p.year {
    font-size: 13px;
    color: #000;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 25px;
}
.exp-details a  {
    color: #000;
}
.exp-details a:hover  {
    color: #ff3249;
    text-decoration: none;
}

.col-lg-4.Exp:hover {
    box-shadow: 0px 5px 15px #00000008;
}



.edu-det {
    margin: 0 8px;
}

div#pills-tabContent {
    margin-top: 50px;
}

.edu-det:hover {
    box-shadow: 0px 5px 15px #00000008;
}

#footer {
    background: #000;
}
.footer-details p {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    color: #777;
    font-size: 14px;
    text-align: center;
}
i.fas.fa-heart {
    color: #ff3249;
    padding: 0 5px 0 5px;
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 90px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #ff3249; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 45px;
  height: 45px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
      transition: all 0.3s cubic-bezier(0.42, 0, 0, 1.32);
}

#myBtn:hover {
  background-color: #000;
  bottom: 105px; /* Add a dark-grey background on hover */
}
#myBtn i.fa.fa-arrow-up {
    font-size: 14px;
}

ui.footer-icon {
    display: flex;
    justify-content: center;
}
.footer-icon a {
    padding: 0 10px;
    color: #777;
    transition: all 0.3s ease-in-out;
}
.footer-icon a:hover{
    color: #ff3249;
}

.footer-icon li {
    list-style-type: none;
    font-size: 18px;
}

.footer-brand {
    text-align: center;
    padding-top: 60px;
}
.footer-link p {
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 0;
}













.banner_port {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 18%;
    animation: 1s fadeInFromTop;
}

h2.b-com {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    margin-bottom: 15px;
    font-size: 36px;
}




